<div class="gameButtons">
    <a id='saveGame' class="btn btn-primary"
       href="{{ path('save') }}" role="button">Save Game
    </a>
    <a id='loadGame' class="btn btn-primary"
       href="{{ path('restore') }}" role="button">Restore Game
    </a>
</div>