<div class="controls">
    <div> Size =  {{ size }} </div>
    <div> Mode =  {{ mode }} </div>
    <table>
        {% for row in 0..(size-1) %}
            <tr>
                {% for col in 0..(size-1) %}
                    <td><a href="{{ path('play', {'row': row, 'col': col}) }}">*</a></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>